.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.btn {
  @apply bg-white bg-opacity-20 hover:bg-opacity-30 text-xl font-semibold p-4 rounded-lg transition;
}
